<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=UTF-8>
   <title>Dashboard</title>
   <link rel="stylesheet" href="style.css">
</head>

<body>
   <div class="container">
      <br>
      <br>
      <nav>
         <a href="/" class='logo'>Dashboard</a>
         <a href="/excavator.html" class='navlinks'>Manage Excavator</a>
         <span class="navlinks">|</span>
         <a href="/schedule.html" class='navlinks'>View Schedule</a>
      </nav>
      <hr>
      <br>

      <div class="left">
         Excavator lists<br><br>
         <table id="excavatorList">
            <tr>
               <th>ID</th>
               <th>Excavator</th>
               <th>Last Deployed</th>
               <th>Date till</th>
               <th>Action</th>
            </tr>
         </table>
      </div>

      <div class="right" style="">
         Add new excavator<br /><br />
         <form action="/api/excavators" enctype="multipart/form-data" method="POST">
            <label for="fname">Excavator name:</label><br>
            <input type="text" id="fname" name="name" placeholder="Rockwell-100" required><br><br>
            <label for="lname">Description:</label><br>
            <input type="text" id="lname" name="description" placeholder="Brand new"><br><br>
            <label for="image">Upload Image:</label><br><br>
            <input type="file" id="lname" name="image"><br><br>
            <input type="submit" value="Submit">
         </form>
      </div>

      <br style="clear:both;" />
      <br>
      <div id="display">
      </div>
      <br>
   </div>
</body>

<script>
   async function onload() {
      //Get excavator data by calling API backend
      const response = await fetch('/api/excavators');
      const data = await response.json();

      // Display list of excavators in table
      const listEl = document.getElementById('excavatorList');

      for (let i = 0; i < data.length; i++) {
         let excavator = data[i]
         let row = document.createElement("tr")
         let cell1 = document.createElement("td")
         let cell2 = document.createElement("td")
         let cell3 = document.createElement("td")
         let cell4 = document.createElement("td")
         let cell5 = document.createElement("td")
         cell1.innerHTML = i + 1;
         cell2.innerHTML = excavator.name;
         cell2.addEventListener('click', function() {
            document.getElementById('display').innerHTML = JSON.stringify(excavator);
            
         });
         if (excavator.schedule) {
            cell3.innerHTML = excavator.schedule[0].location;
            cell4.innerHTML = excavator.schedule[0].date;
         }
         cell5.innerHTML = "<button>Delete</button>";
         cell5.addEventListener("click", function () {
            let text = "Are you sure you want to delete this excavator?\nThe associated schedule and assignments will be lost!\n";
            if (confirm(text) == true) {
               window.location.href = '/api/delete/excavators/' + (i + 1);
            }
         });
         row.append(cell1)
         row.append(cell2)
         row.append(cell3)
         row.append(cell4)
         row.append(cell5)
         listEl.append(row)
      }
   }
   onload();

</script>

</html>