<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <br>
        <nav>
            <a href="/" class='logo'>Dashboard</a>
            <a href="/excavator.html" class='navlinks'>Manage Excavator</a>
            <a href="/schedule.html" class='navlinks'>View Schedule</a>
        </nav>
        <hr>

        <div id="selector">
            <label for="modes">Get schedule by:</label>
            <select name="modes" id="modes" style="height: 30;" onchange="viewSelection()">
                <option disabled selected value> - Select Option - </option>
                <option value="0">Week</option>
                <option value="1">Date Range</option>
            </select>
        </div>

        <div>
            <label for="start">From:</label>
            <input type="date" id="dateStart" name="start" style="display: none" ; />
            <label for="end">To:</label>
            <input type="date" id="end" name="end" />
            <button onclick="getSchedule();">View</button>
        </div>
</body>

<script>
    function viewSelection() {
        let mode = document.getElementById('modes').value
        if (mode == 0) {
            document.getElementById('dateStart').style.display = 'none'
        } else {
            document.getElementById('dateStart').style.display = 'block'
        }
    }

    function getMonday(date) {
        let d = new Date(date);
        let day = d.getDay(),
            diff = d.getDate() - day + (day == 0 ? -6 : 1); // adjust when day is sunday
        return new Date(d.setDate(diff));
    }

    function ddmmyyyy(date) {
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var year = date.getFullYear();
        return day + '/' + month + '/' + year;
    }

    function yyyymmdd(date) {
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var year = date.getFullYear();
        return year + '-' + month + '-' + day;
    }

    async function getSchedule() {
        //Get viewing mode
        let mode = document.getElementById('modes').value == '0' ? 'week' : 'range'
        let start = document.getElementById('dateStart').value
        let end = document.getElementById('end').value

        if (mode == 'week') {
            //Calculate start and end date
            start = getMonday(end)
            end = new Date(start)
            end.setDate(end.getDate() + 6)
            start = yyyymmdd(start)
            end = yyyymmdd(end)
        }

        const response = await fetch('/api/schedule?start=' + start + '&end=' + end);
        console.log(response)
        const data = await response.json();
        console.log(data);
    }

    function createCalendar(year, month) {

        let mon = month - 1; // months in JS are 0..11, not 1..12
        let d = new Date(year, mon);

        let table = '<table><tr><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th><th>Sunday</th></tr><tr>';

        // spaces for the first row
        // from Monday till the first day of the month
        // * * * 1  2  3  4
        for (let i = 0; i < getDay(d); i++) {
            table += '<td></td>';
        }

        // <td> with actual dates
        while (d.getMonth() == mon) {
            table += '<td>' + d.getDate() + '</td>';

            if (getDay(d) % 7 == 6) { // sunday, last day of week - newline
                table += '</tr><tr>';
            }

            d.setDate(d.getDate() + 1);
        }

        // add spaces after last days of month for the last row
        // 29 30 31 * * * *
        if (getDay(d) != 0) {
            for (let i = getDay(d); i < 7; i++) {
                table += '<td></td>';
            }
        }

        // close the table
        table += '</tr></table>';

        return table;
    }

    function getDay(date) { // get day number from 0 (monday) to 6 (sunday)
        let day = date.getDay();
        if (day == 0) day = 7; // make Sunday (0) the last day
        return day - 1;
    }

    async function onload() {
        //Get schedule information by calling API backend
        const response = await fetch('/api/schedules');
        const data = await response.json();

        //show api response
        const app = document.getElementById('app')
        app.innerHTML = JSON.stringify(data);

        //create calendar
        let d = new Date();
        let calendar = createCalendar(d.getFullYear(), d.getMonth() + 1);
        app.innerHTML += calendar;
    }

    onload();

</script>
</script>

</html>