<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <br>
        <nav>
            <a href="/" class='logo'>Dashboard</a>
            <a href="/excavator.html" class='navlinks'>Manage Excavator</a>
            <a href="/schedule.html" class='navlinks'>View Schedule</a>
        </nav>
        <hr>

        <div id="selector">
            <label for="modes">Get schedule by:</label>
            <select name="modes" id="modes" style="height: 30;" onchange="viewSelection()">
                <option disabled selected value> - Select Option - </option>
                <option value="0">Week</option>
                <option value="1">Date Range</option>
            </select>
        </div>

        <div>
            <label for="start">From:</label>
            <input type="date" id="dateStart" name="start" style="display: none" ; />
            <label for="end">To:</label>
            <input type="date" id="end" name="end" />
            <button onclick="getSchedule();">View</button>
        </div>
        <hr>
        <div id="display">
        </div><br><br>
</body>
<script src="./scripts/dates.js"></script>
<script src="./scripts/enum.js"></script>
<script>
    function viewSelection() {
        let mode = document.getElementById('modes').value
        if (mode == 0) {
            document.getElementById('dateStart').style.display = 'none'
        } else {
            document.getElementById('dateStart').style.display = 'block'
        }
    }

    async function getSchedule() {
        //Get viewing mode
        let mode = document.getElementById('modes').value == '0' ? 'week' : 'range'
        let start = document.getElementById('dateStart').value
        let end = document.getElementById('end').value

        if (mode == 'week') {
            //Calculate start and end date
            start = getMonday(end)
            end = new Date(start)
            end.setDate(end.getDate() + 6)
            start = yyyymmdd(start)
            end = yyyymmdd(end)
        }

        //Call API to get schedule
        const response = await fetch('/api/schedule?start=' + start + '&end=' + end);
        const data = await response.json();

        if (data.length > 0) {
            //Display schedule
            renderView(start, end, data, mode)
        } else {
            document.getElementById('display').innerHTML = '<h1>No schedule found</h1>'
        }
    }

    function renderView(start, end, data, mode) {
        let display = document.getElementById('display')
        display.innerHTML = ''
        let dateRange = enumerateDates(start, end)

        let table = document.createElement('table')

        if (mode == 'range') { //Display date range Fig.1
            yAxis = dateRange
            xAxis = enumerateExcavators(data);

            //Create table header
            let header = table.insertRow();
            cell1 = header.insertCell()
            cell1.innerHTML = '<b>Date</b>'
            cell2 = header.insertCell()
            cell2.innerHTML = '<b>Day</b>'

            for (let i = 0; i<xAxis.length; i++) {
                let newCell = header.insertCell()
                newCell.innerHTML = xAxis[i];
            }

            //Populate table
            for (let i = 0; i < yAxis.length; i++) {
                let row = table.insertRow()
                let firstCell = row.insertCell()
                firstCell.innerHTML = yAxis[i]
                let secondCell = row.insertCell()
                secondCell.innerHTML = getDayOfWeek(yAxis[i])

                //Fill in data
                for (let j = 0; j < xAxis.length; j++) {
                    let newCell = row.insertCell()
                    newCell.innerHTML = findSite(yAxis[i], xAxis[j], data)
                }
            }
        }
        else if (mode == 'week') {
            yAxis = enumerateSites(data);
            xAxis = dateRange
        }
        display.appendChild(table)
    }

    function findSite(date, excavator, data) {
        for (let i = 0; i < data.length; i++) {
            if (data[i].date == date && data[i].excavator == excavator) {
                return data[i].site
            }
        }
        return ''
    }

    function findExcavator(date, site, data) {
        for (let i = 0; i < data.length; i++) {
            if (data[i].date == date && data[i].site.toLowerCase() == site.toLowerCase()) {
                return data[i].excavator
            }
        }
        return ''
    }

</script>

</html>