<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <br>
        <nav>
            <a href="/" class='logo'>Dashboard</a>
            <a href="/excavator.html" class='navlinks'>Manage Excavator</a>
            <a href="/schedule.html" class='navlinks'>View Schedule</a>
        </nav><hr>
        Today's schedule:

        <table>
            <tr>
                <th>Time</th>
                <th>Activity</th>
            </tr>
            <tr>
                <td>8:00</td>
                <td>Breakfast</td>
            </tr>
        </table>

        Spare capacity:
        <table>
            <tr>
                <th>Time</th>
                <th>Activity</th>
            </tr>
            <tr>
                <td>8:00</td>
                <td>Breakfast</td>
            </tr>
        </table>
        <button>Butt</button>
    </div>
</body>
</html>