.logo {
    font-size: x-large;
    font-weight: 350;
}

.navlinks {
    float: right;
    margin-left:10px;
    font-size: x-large;
    margin-bottom: 6px;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

A {
  text-decoration: none;
  color: #000;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width:100%;
    font-size: medium;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
  }

.container {
    width: 80%;
    max-width:1000px;
    margin: 0 auto;
    padding: 0;
}

.left {
    float:left;
    width: 58%;
}
.right {
    float:right;
    width: 38%;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 


  .field-wrap {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
  }
  .field-wrap input {
    width: 100%;
    flex-grow: 1;
  }
  .field-wrap select {
    width: 100%;
    flex-grow: 1;
  }
  label {
    margin-right: 20px;
    width: 110px;
  }